.body{
  /* margin: 0;
  background: #FFFFFF; */
  width: 960px;
}

.header-1 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  
}

.header {
  font-family: 'Inconsolata';
  font-size: 24px;
  font-weight: 700;
  
}

.main {

}

main_flex-container {

}

.main_image {

}

main_flex-container2 {

}

.main_header {

}

.main_paragrah {

}

.main_button {

}

.button-link {

}

.footer{
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
  color: #BDBDBD;
  z-index: 0;
}
.heeyisaac007{
  color: #BDBDBD;
  cursor: pointer;
}

