/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');

/* 
font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Space Mono', monospace; 
*/

/* content 

1- * = all elements
2- body
3- main (main one div)
4- h2
5- container (img and text)
6- scarecrow (img div)
7- text-container
8- h1 (bad news)
9- para (2nd para)
10- button
    ~ button link
11- footer
    ~ footer link
    ~ a 

*/

* {
  margin: 0;
}

body {
  width: 1440px;
  margin: 0 auto;
}

.main {
 width: auto;
 height: auto;
}

h2 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0px 20px 50px;

}

.container {
  margin: 120px 0px 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.scarecrow {
  display: flex;
  align-content: flex-start;
  Width: 539px;
  Height: 447px;
  margin-right: 50px;
}

.text-container {
  font-family: 'Space Mono', monospace; 
}

h1 {
  font-family: 'Space Mono', monospace;
  font-weight: 700; 
  font-size: 64px;
  margin-bottom: 30px;
  width: 80%;
}

.para {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 30px;
  width: 50%;
}

button {
  background-color: rgba(0, 0, 0, 0.761);
  justify-content: center;
  font-family: 'Space Mono', monospace; 
  /* border: 0; */
  padding: 20px 25px;
  cursor: pointer;
  margin-top: 20px;
}

.button-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin: 10px 0px 20px 0px;
  color: #bdbdbd;
}

.footer-link {
  font-family: 'Montserrat', sans-serif; 
  font-size: 14px;
  color: #bdbdbd;
}

a {
  text-decoration: none;
  color: #bdbdbd;
  cursor: pointer;
}

@media(max-width:1050px){
  header h2 {
      padding-bottom: 0px;
  }
  .container {
      flex: 1;
      flex-wrap: wrap;
  }
  .scarecrow {
      padding: 60px;
  }
  footer {
      position: static;
  }
  
}

@media(max-width:425px){
  .container {
      padding: 20px 20px 100px 20px;
  }
  .text-container  h1 {
      font-size: 48px;
      padding-bottom: 30px;
  }
   p {
      font-size: 18px;
  }
}
